<%- include ('partials/head') %>
</head>
<body>
    <%- include ('partials/nav') %>
    <header>
        <h1>Thank you for adding home</h1>
    </header>

    <main>
        <a href="/"> Go To Home </a>
    </main>
</body>
</html>